- hosts: all
  tasks:
    - name: Load metadata
      ansible.builtin.set_fact:
        ansible_test_galaxy_yml: "{{ lookup('file', [zuul.executor.work_root, zuul.project.src_dir, 'galaxy.yml'] | path_join) | from_yaml }}"

    - name: Run "ansible-test"
      ansible.builtin.command:
        cmd: uv run ansible-test units
      args:
        chdir: "{{ ansible_env.HOME }}/.ansible/collections/ansible_collections/{{ ansible_test_galaxy_yml.namespace }}/{{ ansible_test_galaxy_yml.name }}"
